#products {
	padding: calc((2.5rem * 0.5) + var(--min-height-navbar)) calc(7.5rem * 0.5);
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

#products__filter-wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

#products__filters {
	display: flex;
	align-items: center;
	gap: 1rem;
}

@media (max-width: 768px) {
	#products__filters {
		flex-wrap: wrap;
	}
}

#products__filter .form-select {
	width: auto;
}

#products button,
#tutorials button {
	background-color: var(--secondary);
	color: var(--primary);
	padding: 10px 20px;
	border-radius: 20px;
	border: none;
	font-size: 14px;
	cursor: pointer;
	font-weight: 600;
	font-style: italic;
}

.product-card {
	background-color: rgba(0, 0, 0, 0.125);
	margin-bottom: 2rem;
}

.card-text {
	display: block;
	overflow: hidden;
	position: relative;
	line-height: 1.2em; /* Adjust based on your font size and line height */
	max-height: 3.6em; /* 3 lines with 1.2em line-height */
}

.card-text::before {
	content: '...';
	position: absolute;
	bottom: 0;
	right: 0;
	padding-left: 20px; /* Adjust based on the width of your ellipsis */
	/* background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%); */
}
